# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
src-api/.env

.direnv
.postgres
nohup.out
target

app/wasm/*
app/utils/api/hey/*
app/utils/api/client.ts
src-api/openapi.yml

.firebaserc
.firebase
