@import "tailwindcss";

@import "tailwindcss/theme" theme(reference);
@import "tailwindcss/utilities" utilities(reference);

@config "../../tailwind.config.ts";

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url("/fonts/JetBrainsMono.woff2") format("woff2-variations");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --radius: 0.5rem;
        --tw-ease: cubic-bezier(0, 0.3, 0.2, 1);
        --ease-in-out: cubic-bezier(0, 0.3, 0.2, 1);
        --default-transition-timing-function: cubic-bezier(0, 0.3, 0.2, 1);
        --tw-duration: 0.15s;
        --ring: #d7d7d7;

        --drop: #191919;
        --background: #272727;

        --card: #313131;
        --card-2: #494949;

        --text: #f2f2f2;
        --text-sub: #929292;
        --border: #4d4d4d;
        --spacing: 0.25rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-black text-text;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

body,
* {
    font-family:
        "JetBrainsMono Nerd Font",
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 400;
}

.body {
    padding-bottom: env(safe-area-inset-bottom);
}

html,
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

html {
    color-scheme: dark;
}

#__nuxt {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

div[data-vaul-overlay] {
    position: absolute;
    inset: 0;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.5);
}
