@import "tailwindcss";

@import "tailwindcss/theme" theme(reference);
@import "tailwindcss/utilities" utilities(reference);

@config "../../tailwind.config.ts";

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url("/fonts/JetBrainsMono.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --radius: 0.5rem;
        --tw-ease: cubic-bezier(0, 0.30, 0.20, 1);
        --ease-in-out: cubic-bezier(0, 0.30, 0.20, 1);
        --default-transition-timing-function: cubic-bezier(0, 0.30, 0.20, 1);
        --tw-duration: 0.15s;
        --ring: #d7d7d7;

        --drop: #171717;
        --background: #242424;

        --card: #303030;
        --card-2: #3d3d3d;

        --text: #d7d7d7;
        --text-sub: #8c8c8c;
        --border: #4d4d4d;
        --spacing: 0.25rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-black text-text;
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

body,
* {
    font-family:
        "JetBrainsMono Nerd Font", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

html {
    color-scheme: dark;
}

#__nuxt {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

div[data-vaul-overlay] {
    position: absolute;
    inset: 0;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.5);
}
